In [1]:
import sys
sys.path.append('../')

In [2]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer

In [3]:
from src.data_loader import *

In [4]:
train = load_data('../data/raw/train.csv')
test = load_data('../data/raw/test.csv')

In [5]:
combined_data = pd.concat([train, test], axis=0, ignore_index=True)

In [6]:
target = train['Survived']

In [7]:
imputer = SimpleImputer(strategy='mean')
combined_data[['Age', 'Fare']] = imputer.fit_transform(combined_data[['Age', 'Fare']])

In [8]:
scaler = StandardScaler()
combined_data[['Age', 'Fare']] = scaler.fit_transform(combined_data[['Age', 'Fare']])

In [9]:
combined_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3,"Braund, Mr. Owen Harris",male,-0.611972,1,0,A/5 21171,-0.503595,NaN,S
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,0.630431,1,0,PC 17599,0.734503,C85,C
2,3,1.0,3,"Heikkinen, Miss. Laina",female,-0.301371,0,0,STON/O2. 3101282,-0.490544,NaN,S
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,0.397481,1,0,113803,0.382925,C123,S
4,5,0.0,3,"Allen, Mr. William Henry",male,0.397481,0,0,373450,-0.488127,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1305,NaN,3,"Spector, Mr. Woolf",male,0.000000,0,0,A.5. 3236,-0.488127,NaN,S
1305,1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,0.708081,0,0,PC 17758,1.461829,C105,C
1306,1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,0.669256,0,0,SOTON/O.Q. 3101262,-0.503595,NaN,S
1307,1308,NaN,3,"Ware, Mr. Frederick",male,0.000000,0,0,359309,-0.488127,NaN,S
1308,1309,NaN,3,"Peter, Master. Michael J",male,0.000000,1,1,2668,-0.211473,NaN,C

In [10]:
combined_data.shape

(1309, 12)

In [11]:
combined_data.drop(['Cabin', 'Name'], axis=1, inplace=True)

In [12]:
encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
encoded_features = encoder.fit_transform(combined_data[['Sex', 'Embarked']])

In [13]:
combined_data.drop(['Sex', 'Embarked'], axis=1, inplace=True)
combined_data = pd.concat([combined_data, pd.DataFrame(encoded_features)], axis=1)

In [14]:
train = combined_data[:len(train)]
test = combined_data[len(train):]

In [15]:
test.reset_index(inplace=True)
test.drop('index', axis=1, inplace=True)

/var/folders/3j/gc7krg2j47z6q61t__m6z_ch0000gn/T/ipykernel_85005/3269863165.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test.drop('index', axis=1, inplace=True)

In [17]:
save_data_as_pickle(train, '../data/intermediate/train.pkl')
save_data_as_pickle(test, '../data/intermediate/test.pkl')